################################################
######### Global Environment Variables #########
################################################

# production or development
NODE_ENV=production

# owner details
OWNER_EMAIL=<owner_email>

# Database URIs
MONGODB_URI_AUTH=<mongodb_uri>

# Auth Details
AUTH_GOOGLE_ID=<google_client_id>
AUTH_GOOGLE_SECRET=<google_client_secret>
BETTER_AUTH_SECRET=<better_auth_secret>
NEXT_PUBLIC_AUTH_BASE_URL=api.anixlab.in

# Zoho Mail
EMAIL_HOST=<email_host>
EMAIL_PASSWORD=<email_password>
NO_REPLY_EMAIL=no-reply@anixlab.in
CONTACT_EMAIL=contact@anixlab.in"


################################################
######### Local Environment Variables #########
################################################

# This is the base URL for the anipic app.
BASE_URL=https://anipic.anixlab.in

MONGODB_URI_ANIPIC=<mongodb_uri_anipic>

DOWNLOAD_SECRET=<download_secret>
DOWNLOAD_BASE=<download_base>
