################################################
######### Global Environment Variables #########
################################################

# Node environment
NODE_ENV=production

# Owner details
OWNER_EMAIL=<owner-email>

# Database URIs
MONGODB_URI_AUTH=<mongodb-uri-auth>

# Auth Details
AUTH_GOOGLE_ID=<auth-google-id>
AUTH_GOOGLE_SECRET=<auth-google-secret>
BETTER_AUTH_SECRET=<better-auth-secret> # min 32 chars
AUTH_BASE_URL=api.anixlab.in

# Mail
EMAIL_HOST=<email-host>
EMAIL_PASSWORD=<email-password>
NO_REPLY_EMAIL="no-reply@anixlab.in"
CONTACT_EMAIL="contact@anixlab.in"


################################################
######### Local Environment Variables #########
################################################

# Server
PORT=4001
HOST="0.0.0.0"

# HTTP allowed origins (comma-separated)
# e.g. https://www.anixlab.in,https://tools.anixlab.in
CLIENT_URLS=<client-urls>

# Socket.IO allowed origins (comma-separated)
# e.g. https://game.anixlab.in,https://play.anixlab.in
SOCKET_CLIENT_URLS=<socket-client-urls>
